In [1]:
#Create Class
class MyClass:
    x = 5 # Indent this line to make it part of the class
    print("Hello partha",x)

Hello partha 5

In [ ]:
#create object, Create an object named p1, and print the value of x:
p1 = MyClass()
print(p1.x)

5

In [ ]:
y=MyClass()
print(y.x)
print(type(y))

5
<class '__main__.MyClass'>

In [2]:
class Students:
    print("Hello partha")  # Indent this line to be part of the class
z = Students()
print(type(z))

Hello partha
<class '__main__.Students'>

In [3]:
class Student:
    def func(): # Indent this line to be part of the class
        print("Hello, My Name is Partha")

Student.func()

Hello, My Name is Partha

In [4]:
class Student:
    year = 1999  # Indent this line to be part of the class definition

    def func(self):
        print("Hello, My Birth year is", self.year)

x = Student()
x.func()

Hello, My Birth year is 1999

In [5]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("Partha", 24)
p1.myfunc() # Call the function using the correct name

Hello my name is Partha

In [6]:
class Student:
    def __init__(self,name):
        self.name = name
partha = Student(name='Partha Sarathi Behuria!')
best = Student(name="I am the best")
print(partha.name)
print(best.name)

Partha Sarathi Behuria!
I am the best

In [7]:
class Person:
    def __init__(self, name, age):

        self.name = name
        self.age = age
p1 = Person("Partha", 24)
print(p1.name)
print(p1.age)

Partha
24

In [8]:
class Student:
    Total = 100 # Class variable
    def __init__(self, marks):
        self.marks = marks # Corrected the assignment
        print("Initialized...")
    def findLoss(self):
        return self.Total - self.marks # Corrected the expression
    def findPercentage(self):
        return (self.marks / self.Total) * 100 # Corrected the expression
a = Student(marks=70)
print("Total Marks:", a.Total)
print('Lost Marks:', a.findLoss()) # Corrected the typo in the string
print('Percentage is:', a.findPercentage()) # Added missing closing parenthesis

Initialized...
Total Marks: 100
Lost Marks: 30
Percentage is: 70.0

In [10]:
class Student:
    Total = 100 # Class variable
    def __init__(self, name, marks,gender):
        self.name=name
        self.marks=marks
        self.gender=gender
        print("Initialized...")
    def __len__(self):
        return self.marks
    def __str__(self):
        return "Name: %s | Marks: %s | Gender: %s" %(self.name,self.marks,self.gender) # fix typo self.g -> self.gender
    def __del__(self):
        print("Student Database is Deleted")
a = Student('Partha', 80, 'male')
print(a)
print('Marks: ',len(a))
del a

Initialized...
Name: Partha | Marks: 80 | Gender: male
Marks:  80
Student Database is Deleted

In [11]:
student = {
    "Name": "Partha",
    "Marks": 380,
    "Gender": "male"
}

del student

print("Student Database is Deleted")
class Student:
    Total = 500 # Class variable
    def __init__(self, name, marks,gender):
        self.name=name
        self.marks=marks
        self.gender=gender
        print("Initialized...")
    def __len__(self):
        return self.marks
    def __str__(self):
        return "Name: %s | Marks: %s | Gender: %s" %(self.name,self.marks,self.gender) # fix typo self.g -> self.gender

    def __del__(self):
        print('Student Database is Deleted') # Indent this line to be part of the class

Student Database is Deleted

In [12]:
class Student:
    Total = 500 # Class variable
    def __init__(self, marks): # Fix indentation
        self.marks = marks
        print("Initialized...")
    def mul(self): # Fix indentation
        return self.marks * self.Total
p1 = Student(490)
p1.mul()

Initialized...

245000

In [13]:
class Student:
    Total = 500 # Class variable
    def __init__(self, name, marks,gender):
        self.name=name
        self.marks=marks
        self.gender=gender
        print("Initialized...")
    def __len__(b):
        return b.marks
a = Student('Partha', 289, 'male')
print(a)
print('Marks: ',len(a))

Initialized...
<__main__.Student object at 0x7eb207b46590>
Marks:  289

In [14]:
class Person:
    def __init__(mysillyobject, name, age):
        mysillyobject.name = name
        mysillyobject.age = age
    def myfunc(abc):
        print("Hello my name is " + abc.name + " " + str(abc.age)) # Fix concatenation and convert age to string

p1 = Person("Partha", 24)
p1.myfunc() # Call the method on the object

Hello my name is Partha 24

In [15]:
#Modify Object Properties
#Set the age of p1 to 40

p1.age = 24
p1.myfunc()

Hello my name is Partha 24

In [16]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname  # Initialize firstname attribute in Person class
        self.lastname = lname

class Student(Person):
    def __init__(self, fname, lname, major):
        Person.__init__(self, fname, lname)  # Properly call Person's constructor
        self.major = major

    def print_info(self):
        print(self.firstname, self.lastname, "-", self.major)  # Now you can access self.firstname

x = Student("Partha", "Unmesha", "Forever")
x.print_info()

Partha Unmesha - Forever

In [17]:
class Person:
    def __init__(self, fname, lname): # Indent the __init__ method
        self.firstname = fname
        self.lastname = lname
    def printname(self): # Indent the printname method
        print(self.firstname, self.lastname)

class Student(Person):
    def __init__(self, fname, lname):
        super().__init__(fname, lname)
        self.graduationyear = 2018

x = Student("Partha", "Unmesha")
print(x.graduationyear)
x.printname()

2018
Partha Unmesha

In [18]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname

    def printname(self):
        print(self.firstname, self.lastname)

class Student(Person):
    def __init__(self, fname, lname, year):
        super().__init__(fname, lname)
        self.graduationyear = year

x = Student("Partha", "Unmesha", 2018)
print(x.graduationyear)

2018

In [19]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname

    def printname(self):
        print(self.firstname, self.lastname) # Indent this line

class Student(Person):
    def __init__(self, fname, lname, year):
        super().__init__(fname, lname)
        self.graduationyear = year

    def welcome(self):
        print("Our", self.firstname, self.lastname, "in the year of", self.graduationyear) # Fix typo here

x = Student("Relationship", "started", 2018)
x.welcome()

Our Relationship started in the year of 2018

In [20]:
class Partha:
    def __init__(self): # Indent all methods within the class
        print("Profile created")
    def name(self):
        print("Partha Sarathi")
    def age(self):
        print("24")

In [21]:
class IPS(Partha):
    def __init__(self):  # Indent this line
        super().__init__() # Correctly call the parent class's initializer
        print("All india Rank 12")
    def name(self):  # Indent this line
        print("IPS")
    def type(self):  # Indent this line
        print("My final goal")

In [22]:
# Creating an instance of the IPS class
IPS_profile = IPS()
# Calling methods on the instance
IPS_profile.name()
IPS_profile.age()
IPS_profile.type()

Profile created
All india Rank 12
IPS
24
My final goal

In [23]:
a = IPS()

Profile created
All india Rank 12

In [24]:
class MyClass:
    @staticmethod
    def my_function(arg1, arg2):
        return arg1 + arg2

# You can call it directly using the class name
result = MyClass.my_function(8, 9)
print(result) # Output: 17

17

In [25]:
class MyClass:
    def my_function(arg1, arg2): # Indent this line
        return arg1 + arg2 # Indent this line as well

# You can call it directly using the class name
result = MyClass.my_function(1, 8)
print(result) # Output: 9

9

In [26]:
class MyClass:
    class_variable = 14  # Indent this line

    @classmethod
    def my_function(cls, arg1):
        return cls.class_variable + arg1  # Indent this line as well

# You can call it directly using the class name
result = MyClass.my_function(7)
print(result) # Output: 14

21

In [27]:
class MyClass:
    def my_function(arg1, arg2): # Indent this line
        return arg1 + arg2 # Indent this line as well

# You can call it directly using the class name
result = MyClass.my_function(2, 8)
print(result) # Output: 6

10