In [1]:
seq = [1,2,3,4,5]
for i in seq:
    print(i)

1
2
3
4
5

In [3]:
seq = [1,2,3,4,5]
for item in seq:
    print(item)

1
2
3
4
5

In [5]:
fruits = ['apple','banana','cherry','mango']
for x in fruits:
    print(x)

apple
banana
cherry
mango

In [7]:
list1=[1,2,3,4,5,6]
for i in list1:
    print(i,end='')

123456

In [9]:
a="123"
for char in a:
    print(char,end=' ')

1 2 3

In [23]:
for x in range(10):
    print(x,"hello")

0 hello
1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello
9 hello

In [25]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [27]:
for i in range(11,51):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [29]:
for i in range(100,1,-2):
    print(i,end=' ')

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [33]:
for i in range(12,50,2):
    print(i)

12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [35]:
items = ['item1','item2','item3','item4']
for i in range(len(items)):
    print("item at index ",i," is: ",items[i])

item at index  0  is:  item1
item at index  1  is:  item2
item at index  2  is:  item3
item at index  3  is:  item4

In [37]:
a=[1,2,3,4]
sum1=0
for i in a:
    sum1=sum1+i
    print("sum:",sum1)

sum: 1
sum: 3
sum: 6
sum: 10

In [39]:
a=[1,2,3,4]
sum1 =0
for i in a:
    sum1=sum1+i
    print("after",i,"iteration the sum:",sum1)

after 1 iteration the sum: 1
after 2 iteration the sum: 3
after 3 iteration the sum: 6
after 4 iteration the sum: 10

In [41]:
genre = ['pop','rock','jazz','sapna']
for i in range(1):
    print("I like",genre[i])

I like pop

In [43]:
ib=int(input('enter lower bound values:'))
ub=int(input('enter upper bound values:'))
for i in range(ib,ub+1):
    if i%2==0:
        print(i,end=',')

enter lower bound values: 29
enter upper bound values: 79

30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,

In [45]:
n=int(input("enter the number:"))
for i in range(n):
    print("*",end=" ")

enter the number: 78

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [47]:
ib=int(input())
ub=int(input())
s=0
for i in range(ib,ub+1):
    if (i%2==0):
        s=s+i
        print(i,end=' ')
        print('\nsum is' ,s)

 67
 90

68
sum is 68
70
sum is 138
72
sum is 210
74
sum is 284
76
sum is 360
78
sum is 438
80
sum is 518
82
sum is 600
84
sum is 684
86
sum is 770
88
sum is 858
90
sum is 948

In [49]:
for num in range(1,303):
    if num%5 == 0 and num%7!=0:
        print(num)

5
10
15
20
25
30
40
45
50
55
60
65
75
80
85
90
95
100
110
115
120
125
130
135
145
150
155
160
165
170
180
185
190
195
200
205
215
220
225
230
235
240
250
255
260
265
270
275
285
290
295
300

In [51]:
a=int(input('enter multiplication table:'))
for i in range(1,11):
    print(a,'*',i,'=',a*i)

enter multiplication table: 4

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [55]:
n=int(input("enter the number:"))
for i in range(n):
    for j in range(n+1,):
        print("*",end=" ")

enter the number: 6

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [57]:
squares = []
for i in range(10):
    squares.append(i**2)
    print(squares)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [59]:
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [61]:
movies = ['omg','kick','ddlj','don']
[len(movie) for movie in movies]

[3, 4, 4, 3]

In [63]:
list2 = [-7,-6,-8,-2,-4,8,9]
absv = [abs(x) for x in list2]
absv

[7, 6, 8, 2, 4, 8, 9]

In [79]:
list2 = [-2,-7,-4,-8,4,3]
both = []
for x in list2:
    if x < 0:
        both.append(abs(x))
    else:
        both.append(x**3)

both

[2, 7, 4, 8, 64, 27]

In [71]:
[abs(x) if x<0 else x**3 for x in list2]

[2, 7, 4, 8, 64, 27]

In [77]:
movies = ['soul','RRR','avatar','2012']
a=set()
for i in movies:
    a.add(len(i))

a

{3, 4, 6}

In [81]:
movies = ['RRR','pyaar','tujhe','kiya']
{len(i) for i in movies}

{3, 4, 5}

In [89]:
movies = {'RRR':9, 'pyaar':9.2, 'tujhe':8, 'kiya':8.5}
{movie:rating for movie,rating in enumerate(movies)}

{0: 'RRR', 1: 'pyaar', 2: 'tujhe', 3: 'kiya'}

In [95]:
numbers = [2,3,4,6,7]
for num in numbers:
    if num == 4:
        break
        print(num)

In [99]:
numbers = [2, 3, 4, 5, 6, 7]
for num in  numbers:
    if num % 2 == 0:
        continue
    print(num)

3
5
7

In [101]:
numbers = [3, 4, 5]
for item in numbers:
    print(item)

else:
    print("no item left in the list")

3
4
5
no item left in the list

In [103]:
numbers = [3, 4, 7, 8, 9]
for item in numbers:
    if item % 3 == 0:
        print(item)

3
9

In [105]:
numbers = [3, 4, 5, 6, 7]
for item in numbers:
    if item % 2 == 0:
        print(item)
        break

4

In [107]:
 x=0
while x < 6:
    x=x+1
    print(x)

1
2
3
4
5
6

In [109]:
x = 0
while x < 8:
    print("x is ",x)
    x = x+1

x is  0
x is  1
x is  2
x is  3
x is  4
x is  5
x is  6
x is  7

In [111]:
x = 8
while x > 1:
    print("x is {}".format(x))
    x -= 1

x is 8
x is 7
x is 6
x is 5
x is 4
x is 3
x is 2

In [113]:
i=200
s=30
while i<=500:
    s=s+i
    i=i+100

print(s)

1430

In [115]:
i=0
s=0
while (i<=5):
    s=s+i
    i+=2

print(s)

6

In [117]:
x=0
print(x)
while x < 5:
    x=x+1

print(x)

0
5

In [119]:
i=0
s=0
while (i<=20):
    s=s+i
    i+=2

print(s)

110

In [121]:
i=0
while(i<=200):
    print(i,end=' ')
    i=i+1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200

In [127]:
n = int(input("Enter n: "))
sum = 0
i = 1
while i <= n:
    sum = sum + i
    i = i+1

print("The sum is",sum)

Enter n:  6

The sum is 21

In [139]:
1st = [1, 2, 3, 4, 6]

product = 1
index = 0

while index < len(1st):
    product *= lst[index]
    index += 2

print("product is: {}".format(product))

SyntaxError: invalid decimal literal (886581809.py, line 1)

In [1]:
s=0
while True:
    a=input('enter a value:')
    if (a=='done'):
        break
    s=s+int(a)

print(s)

enter a value: 4
enter a value: 4
enter a value: 5
enter a value: done13

ValueError: invalid literal for int() with base 10: 'done13'

In [3]:
x = 9
while x > 1:
    print("x is {}".format(x))
    x -= 1
    if x==9:
        break
else:
    print("x is no longer greater than 1")

x is 9
x is 8
x is 7
x is 6
x is 5
x is 4
x is 3
x is 2
x is no longer greater than 1

In [5]:
x = 0
while x < 8:
    print("x is {}".format(x))
    x += 1
else:
    print("x is no longer < 8")

x is 0
x is 1
x is 2
x is 3
x is 4
x is 5
x is 6
x is 7
x is no longer < 8

In [7]:
numbers = [1, 3, 4, 6, 7, 8]
index = 0
while index < len(numbers):
    print(numbers[index])
    index += 1

else:
    print("no item left in the list")

1
3
4
6
7
8
no item left in the list

In [9]:
a=int(input())
fact=1
for i in range(a,0,-1):
    fact=fact*i
print(fact)

 3

6

In [11]:
a=int(input())
fact=1
for i in range(1,a+1):
    fact=fact*i
    print("after",i,"iteration the factorial value is:", fact)

 9

after 1 iteration the factorial value is: 1
after 2 iteration the factorial value is: 2
after 3 iteration the factorial value is: 6
after 4 iteration the factorial value is: 24
after 5 iteration the factorial value is: 120
after 6 iteration the factorial value is: 720
after 7 iteration the factorial value is: 5040
after 8 iteration the factorial value is: 40320
after 9 iteration the factorial value is: 362880