In [ ]:
#1. Python Program to Add Two Numbers , take input from user and show the input and output uisng .format
#2 Python Program to Find the Square Root using operator
#3. Python Program to Calculate the Area of a Triangle
#4. Python Program to Convert Kilometers to Miles
#5 Python Program to Convert Celsius To Fahrenheit
#6 Python Program to Find ASCII Value of Character

In [ ]:
num1 = float(input("Enter the first number : "))
num2 = float(input("Enter the second number: "))

result = num1 + num2

output = "The sum of {0} and {1} is {2}".format(num1, num2, result)
print(output)

Enter the first number : 100
Enter the second number: 200
The sum of 100.0 and 200.0 is 300.0

In [ ]:
number = float(input("Enter a number: "))

square_root = number ** 0.5

output = "The square root of {0} is {1}".format(number, square_root)
print(output)

Enter a number: 567
The square root of 567.0 is 23.811761799581316

In [ ]:
base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))

area = 0.5 * base * height

output = "The area of the triangle with base {0} and height {1} is {2}".format(base, height, area)
print(output)

Enter the base of the triangle: 37
Enter the height of the triangle: 45
The area of the triangle with base 37.0 and height 45.0 is 832.5

In [ ]:
km_to_miles_factor = 0.621371

kilometres = float(input("Enter distance in kilometres: "))

miles = kilometres * km_to_miles_factor

output = "{0} kilometres is equal to {1} miles".format(kilometres, miles)
print(output)

Enter distance in kilometres: 456
456.0 kilometres is equal to 283.345176 miles

In [ ]:
celsius = float(input("Enter temperature in celsius: "))

fahrenheit = (celsius * 9/5) +32

output = "{0} degree celsius is equal to {1} degrees Farhenheit".format(celsius, fahrenheit)
print(output)

Enter temperature in celsius: 55
55.0 degree celsius is equal to 131.0 degrees Farhenheit

In [ ]:
character = input("Enter a character: ")

if len(character) != 1:
  print("please enter exactly one character.")
else:
 ascii_value = ord(character)
 output = "The ASCII value of '{0}' is {1}".format(character, ascii_value)
 print(output)

Enter a character: a
The ASCII value of 'a' is 97